video.bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}
.contentsContainer {
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: vertical;
	align-items: center;
	justify-content: center;
}

.formContainer {
	margin-top: 50px;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
}

.btns {
	text-align: center;
}
.btn1 {
	margin-right: -2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.btn2 {
	margin-left: -2px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btns button {
	font-size: 25px;
	border: 3px solid skyblue;
	background-color: rgba(0, 0, 0, 0);
	color: skyblue;
	padding: 5px 7px 5px 7px;
}
.btns button:hover {
	color: white;
	background-color: skyblue;
}

.resultBtn {
	text-align: center;
}

.runningMsg {
	margin-top: 100px;
	text-align: center;
}

.input__text {
	margin-top: 10px;
	height: 350px;
	width: 100%;
}
